.name {
  color: #0066ff;
  font-family: monospace;
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  text-decoration: underline;
}

.subtitle {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}

.benefits {
  color: #ffaa00;
  font-size: 30px;
  text-align: center;
}

.whatisit {
  color: #aafac8;
  font-size: 22px;
  text-align: left;
  padding-left: 30px;
}

.blindview {
  color: #b8ddaa;
  font-size: 20px;
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
}

#text {
  width: 66%;
}

#videodiv {
  display: flex;
  height: 350px;
  background-color: #191919;
  margin-left: 60px;
  margin-right: 60px;
}

#wrapper {
  display: flex;
}

#feature {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin: auto;
  background-color: #3c493f;
}

#feature > #name {
  padding-top: 10px;
  text-align: center;
  color: #7cf9b4;
}

#feature > #icon {
  width: 30%;
  padding-top: 25px;
  display: block;
  margin: auto;
}

#feature > #description {
  padding-bottom: 20px;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  color: #caffd0;
  text-align: justify;
}

body {
  background-color: #222222;
  /*background: linear-gradient(45deg, #222222, #333333);*/
  font-family: monospace;
}
